// Place all the styles related to the admins::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-genre {
	margin-bottom: 50px;
}

#genre_status_true {
	margin-left: 20px;
}

#genre_status_false {
	margin-left: 20px;
}