// Place all the styles related to the admins::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-btn {
	margin-top: 10px;
	margin-left: 25%;
}


th {
	background-color: #ededed;

}

.index {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

.product-name {
	text-decoration: underline;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

.table>tbody>tr>td {
	border-style: none;
}

.paginate {
	margin-left: 40%;
}

