<div class="container">
	<h1 class="text-center">About</h1>
	<div class="about-contents row">
		<div class="about-content about-img-1 col-xs-6"></div>
		<div class="about-content about-text col-xs-6">
			<p>⻑野県にある⼩さな洋菓⼦店「ながのCAKE」の商品通販サイトです。</p>
			<p>昨年始めたInstagramから⼈気となり、全国から注⽂が来る為、開設いたしました。</p>
			<p>数多くの商品を掲載しておりますので、お楽しみください。</p>
		</div>
		<div class="about-content about-text col-xs-6">
			<p>商品はすべて受注生産</p>
			<p>お時間かかりますが、いい商品を提供します。</p>
		</div>
		<div class="about-content about-img-2 col-xs-6"></div>
	</div>
</div>