// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-collapse {
	padding-top: 20px;
	padding-bottom: 10px;
}

.navbar-brand {
	margin-top: 20px;
	margin-bottom: 10px;
}