/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-collapse{
	padding-left:10px;
}

.field_with_errors {
	display: inline;
}
.navbar-collapse {
	padding-top: 20px;
	padding-bottom: 10px;
}

.navbar-brand {
	margin-top: 20px;
	margin-bottom: 10px;
}
.navbar-text {
	margin-top: 35px;
	margin-bottom: 10px;
}
.footer {
	height: 50px;
	width: 100%;
	background-color: #3f3f3f;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-text {
	margin: 0;
	color: white;
}
.wrapper {
	min-height: calc(100vh - 153px);
}
html, body {
  height: 100%;
  margin: 0;
}