// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
	display: inline;
}

.text-right {
	margin-bottom:10px;
	margin-right: 10px;
}
.inline {
	display: flex;
}
.piece-form {
	margin-right: 10px;
}