// Place all the styles related to the devise::registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.customer-login,
.customer-signup {
	margin-bottom: 20px;
	margin-left: 20px;
}


.customer-signup-text,
.customer-login-text {
	background-color: #ededed;
	display: inline;
	padding: 0 10px;
	font-size: 20px;
}

.sign-up {
	padding: 20px;
}
