// Place all the styles related to the devise::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.customer-login,
.customer-signup {
	margin-bottom: 20px;
}

.customer-signup {
	margin-top: 20px;
}

.customer-login-text,
.customer-signup-text {
	background-color: #ededed;
	display: inline;
	padding: 0 10px;
	font-size: 15px;
}

.forget-password {
	text-align: right;
}

.log-in {
	padding: 0 20px;
}